<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>free_board_detail</title>
    <link rel="stylesheet" href="css/reset.css">

</head>

<body>
    <!-- nav -->
    <div id="navContainer"></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>게시판 종류</th>
                </tr>

            </thead>

            <tbody>
                <tr>
                    <td>게시글 제목</td>
                    <td>작성자</td>
                    <td>작성일</td>
                    <td>조회수</td>
                </tr>
                <tr>
                    <td>상세 내용</td>
                </tr>
                <tr>
                    <td>댓글수 0</td>
                </tr>
                <tr>
                    <td>댓글 작성자</td>
                    <td>댓글 작성일</td><br>
                </tr>
                <tr>
                    <td>댓글 내용</td>
                </tr>
                <tr>
                    <td>
                        <form class="commentBox">
                            <div>
                                <label for="comment"><span></span></label>
                                <input placeholder="댓글을 작성해주세요">
                                <button type="submit">
                                    댓글
                                </button>
                            </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td><a href="" id="modify">수정하기</a>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="js/nav.js"></script>
    <script src="js/freeBoard_detail.js"></script>
</body>

</html>