<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <!-- nav -->

    <form class="formSignIn">
        <div>
            <div>
                <label for="inputId"><span>ID</span></label>
                <input placeholder="아이디" id="email">

                <label for="inputPassword"><span>PASSWORD</span></label>
                <input placeholder="비밀번호" id="password">
            </div>
            <!-- Checkbox -->
            <div>
                <input type="checkbox">
                <label>
                    로그인 정보 기억
                </label>
            </div>
            <a href="#">비밀번호 찾기</a>
        </div>

        <button type="button" id="submit">
            로그인
        </button>

        <p class="">
            <a href="join.html">가입하기</a>
        </p>

    </form>
    <script src="login.js"></script>
</body>

</html>