.text-center {
    margin-top: 10px;
}

.top-title {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.search{
    display: flex; /* Flexbox를 사용하여 정렬합니다 */
    justify-content: flex-end;
    width: 50%; 
    height: 70%; 
}
.search-form{

}

.write{
    display: flex;
    justify-content: flex-end;
}

.write-btn{
    text-decoration: none;
    color: black;
}

/* 테이블 헤더에 배경색을 적용하는 CSS 선택자 */
table.table.table-bordered thead tr th {
    background-color: rgb(223, 223, 223);
}
