    .img-container {
        position: relative;
        text-align: center;
    }

    .center-image {
        padding: 0;
        width: 1920px;
        max-width: 100%;
        height: auto;
    }

    .center-text {
        position: absolute;
        top: 40%;
        /* 텍스트 상하 이동 */
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 550;
        font-size: 25px;
    }

    .center-btn {
        position: absolute;
        top: 50%;
        /* 버튼 상하 이동 */
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .btn-primary:hover {
        background-color: #efc633;
    }

    .btn-primary:active {
        background-color: #efc633;
    }

    .ctg1-line {
        display: inline;
        font-weight: 550;
        font-size: 20px;
        color: black;
        text-decoration: none;
    }

    .more {
        font-size: 15px;
        font-weight: 550;
        margin-right: 5px;
    }

    .card {
        border: 500px solid #000;
        /* 원하는 두께와 색상으로 설정 */
        width: 25rem;
        position: relative;
        text-align: center;
        /* 카드 내부의 텍스트를 가운데 정렬합니다. */
        margin-bottom: 20px;
    }

    .overlay-link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(243, 215, 6, 0.7);
        /* 배경색을 추가하여 링크를 덮습니다. */
        color: #fff;
        /* 링크 텍스트 색상 설정 */
        text-align: center;
        padding: 10px;
        /* 링크 내부 여백 설정 */
        opacity: 0;
        /* 초기에 숨깁니다. */
        transition: opacity 0.3s ease;
        /* 투명도 전환 효과 추가 */
        width: 100%;
        /* 너비를 100%로 설정하여 수평 가운데 정렬 */
        height: 100%;
        /* 높이를 100%로 설정하여 수직 가운데 정렬 */
        line-height: 25;
        /* 원하는 높이에 따라 조정 가능 */
    }

    .card:hover .overlay-link {
        opacity: 1;
        /* 마우스 오버 시 투명도를 1로 변경하여 덮기 효과를 표시합니다. */
    }

    .col {
        text-align: left;
    }

    .card-title {
        font-size: 20px;
        font-weight: bold;
    }

    .card-text {
        font-size: 15px;
    }


    /* 모바일 화면 조정 */
    @media (max-width: 400px) {

        .overlay-link {
            line-height: 15;
            /* 원하는 높이에 따라 조정 가능 */
        }

        .card {
            border: 500px solid #000;
            /* 원하는 두께와 색상으로 설정 */
            width: 10rem;
            position: relative;
            text-align: center;
            /* 카드 내부의 텍스트를 가운데 정렬합니다. */
            margin-bottom: 20px;
        }

        .card-text {
            font-size: 10px;
        }

        .img-container {
            position: relative;
            text-align: center;
        }

        .center-image {
            padding: 0;
            width: 500px;
            max-width: 100%;
            height: 150px;
        }

        .center-text {
            text-indent: -9999px;
            position: absolute;
            top: 50%;
            /* 텍스트 상하 이동 */
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 550;
            font-size: 12px;
        }

        .center-btn {
            position: absolute;
            top: 55%;
            /* 버튼 상하 이동 */
            left: 50%;
            transform: translate(-50%, -50%);
        }

    }