* {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  font-family: "Rubik", sans-serif;
}

.card {
  border-radius: 25px;
  border-color: #ffd43b;
}

i {
  margin-right: 15px;
}

#InputFrom1,
#InputFrom2,
#InputFrom3,
#InputFrom4 {
  box-shadow: none;
}

#InputFrom1:hover,
#InputFrom1:active,
#InputFrom2:hover,
#InputFrom2:active,
#InputFrom3:hover,
#InputFrom3:active,
#InputFrom4:hover,
#InputFrom4:active {
  border-color: #fcc419;
  outline: none;
}

#InputFrom1:focus,
#InputFrom1.foucus,
#InputFrom2:focus,
#InputFrom1.foucus,
#InputFrom3:focus,
#InputFrom1.foucus,
#InputFrom4:focus,
#InputFrom1.foucus {
  box-shadow: none;
}

.btnCustomColor {
  background-color: #ffd43b;
  border-color: #ffd43b;
}

.btnCustomColor:hover,
.btnCustomColor:active {
  border-color: #fcc419;
  outline: none;
}

.btnCustomColor:focus,
.btnCustomColor.foucus {
  box-shadow: none;
}
